.button {
    background-color: transparent;
    background-image: linear-gradient(#fff, #f5f5fa);
    --rgb-primary: var(--rgb-rich-black);
    border: 0 solid rgb(var(--rgb-primary));
    border-radius: 9999px;
    box-shadow: 
        rgb(var(--rgb-primary),0.15) 0 4px 11px 0,
        rgb(var(--rgb-primary),0.2) 0 1px 3px 0;
    box-sizing: border-box;
    color: #484c7a;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    margin: 0.5em;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: inherit;
    text-wrap: nowrap;
    transition: all .2s ease-out;
    transition-behavior: normal;
    white-space-collapse: collapse;
    line-height: 1.15;
    max-width: 12em;
    place-self: center;
}

@media (min-width: 576px) {
    .button {
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

.button:after,
.button:before {
    border: 0 solid rgb(var(--rgb-primary));
    box-sizing: border-box;
}

.button:hover {
    box-shadow:
        rgb(var(--rgb-primary),0.15) 0 8px 22px 0,
        rgb(var(--rgb-primary),0.2) 0 4px 6px 0;
}

.button:disabled {
    cursor: not-allowed;
    opacity: .5;
}
