@import 'material-symbols';

span[class^=material-symbols-] {
    grid-area: symbol;
    line-height: 1;
    text-transform: none;
    display: inline-block;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background: none;
}

:root {
    font-size: 16px;
}

h1, h2, h3, h4 { font-weight: 600; }

h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 3rem;
    line-height: 1.2em;
}

h3 {
    font-size: 2.25rem;
    line-height: 1.2em;
}

h4 {
    font-size: 1.5rem;
    line-height: 1.6em;
}

p {
    line-height: 1.5;
}

p.super {
    font-size: 1.25em;
}

p.small {
    font-size: 0.75em;
}
