.container {
    grid-template-columns: minmax(auto, 100%) 1fr;

    textarea {
        padding: 0.5em 1em;
        border-radius: 1em;
        border: 0.1px solid rgb(0,0,0,0.1);
        place-content: start;
        overflow: hidden;
        resize: none;
        margin-left: 1em;
    }
}
